.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
  background: #bf353d;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

#logo {
  background: url('../img/logo_2x.png') center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}
#logo1 {
  background: url('../img/logo_2x.png') center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}
#line1{
  padding-top: 105px;
  left: 21%;
  animation: type 0.75s steps(60, end); 
  animation-fill-mode: forwards; 
}
#line2{
  padding-top: 160px;
  left: 23%;
  animation: type 0.75s steps(60, end); 
  animation-delay: 0.5s;
  animation-fill-mode: forwards; 
}
.image1 {
  background: url('../img/image1_2x.png') center no-repeat;
  background-size: 100% 100%;
  height: 250px;
  width: 300px;
}
.image2 {
  background: url('../img/image2_2x.png') center no-repeat;
  background-size: 100% 100%;
  height: 250px;
  width: 300px;
}
.image3 {
  background: url('../img/image3_2x.png') center no-repeat;
  background-size: 100% 100%;
  height: 250px;
  width: 300px;
}
#image4 {
  background: url('../img/image4_2x.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 600px;
  height: 250px;
}
#image5 {
  background: url('../img/image5_2x.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 600px;
  height: 250px;
}
#image6 {
  background: url('../img/image6_2x.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 600px;
  height: 250px;
}
.text1 {
  line-height: 54px;
  color: #ffffff;
  font-family: 'Prata', serif;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  visibility: hidden;
  animation: type 1s steps(60, end); 
  animation-fill-mode: forwards; 
}

.text2 {
	display:inline-block;
  color: #ffffff; 
  font-family: 'Poppins', sans-serif;
  font-size: 22.5px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 145px;
  width: 100%;
  text-align: center;
}
#txt3 span,#txt4 span,#txt5 span, #txt8 span{
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

#txt3{
  padding-top: 87px;
}

#txt3 span:nth-of-type(1){
  animation-delay: 2.5s;
}

#txt3 span:nth-of-type(2){
  animation-delay: 2.60s;
}
#txt3 span:nth-of-type(3){
  animation-delay: 2.70s;
}
#txt3 span:nth-of-type(4){
  animation-delay: 2.80s;
}

#txt4{
  padding-top: 117px;
}

#txt4 span:nth-of-type(1){
  animation-delay: 2.90s;
}

#txt4 span:nth-of-type(2){
  animation-delay: 3s;
}
#txt4 span:nth-of-type(3){
  animation-delay: 3.10s;
}
#txt4 span:nth-of-type(4){
  animation-delay: 3.20s;
}

#txt5{
  padding-top: 148px;
}
#txt5 span:nth-of-type(1){
  animation-delay: 3.30s;
}

#txt5 span:nth-of-type(2){
  animation-delay: 3.40s;
}

#txt8{
  padding-top: 173px;
}
#txt8 span:nth-of-type(1){
  animation-delay: 3.50s;
}

#txt8 span:nth-of-type(2){
  animation-delay: 3.60s;
}
#txt8 span:nth-of-type(3){
  animation-delay: 3.70s;
}
@keyframes fadeIn{
  to{opacity: 1;}
}

@keyframes type{ 
  from { width: 0px;visibility: visible;opacity: 0.2; } 
  to{visibility: visible;}
}
#txt6 {
  background: url('../img/txt5_2x.png') center no-repeat;
  background-size: 100% 100%;
}
#txt7 {
  background: url('../img/txt6_2x.png') center no-repeat;
  background-size: 100% 100%;
}
#cta{
  background: url('../img/cta_2x.png') center no-repeat;
  background-size: 100% 100%;
  z-index: 3;
}
.small{
  font-size: 12px;
}
